<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Supervisors",
    entity: :supervisors,
    placeholder_text: "Search supervisors by section or name" } %>

<%= render partial: 'top_pager' %>

<section class="supervisor-panels">
  <% @supervisors.each do |supervisor| %>
      <%= render supervisor %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
