<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Creditor Payments",
    entity: :creditor_payments,
    placeholder_text: "Search Creditor Payments" } %>

<%= render partial: 'top_pager' %>

<section class="credit-note-panels">
  <% @credit_notes.each do |credit_note| %>
      <%= render credit_note %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
