<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Employees",
    entity: :employees,
    placeholder_text: "Search Employees" } %>

<%= render partial: 'top_pager' %>

<section class="employee-panels">
  <% @employees.each do |employee| %>
      <%= render employee %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
