<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Invoices",
    entity: :invoices,
    placeholder_text: "Search by invoice code" } %>

<%= render partial: 'top_pager' %>

<section class="invoice-panels">
  <% @invoices.each do |invoice| %>
      <%= render invoice %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
