<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Debtor Orders",
    entity: :debtor_orders,
    placeholder_text: "Search debtor orders" } %>

<%= render partial: 'top_pager' %>

<section class="debtor-order-panels">
  <% @debtor_orders.each do |debtor_order| %>
      <%= render debtor_order %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
