<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Jobs",
    entity: :jobs,
    placeholder_text: "Search jobs" } %>

<%= render partial: 'top_pager' %>

<section class="job-panels">
  <%= render partial: 'job', collection: @jobs %>
</section>

<%= render partial: 'bottom_pager' %>
