<div class="row">
  <div class="col-md-3">
    <small> SDL @ 2%: <%= number_to_currency(net_total * 0.02, unit: "R") %></small>
  </div>
  <div class="col-md-3">
    <small> UIF @ 1%: <%= number_to_currency(net_total * 0.01, unit: "R") %></small>
  </div>
  <div class="col-md-3">
    <small> COMM. @ 2.5%: <%= number_to_currency(net_total * 0.025, unit: "R") %></small>
  </div>
  <div class="col-md-3">
    <small> Leave @ 6%: <%= number_to_currency(net_total * 0.06, unit: "R") %></small>
  </div>
</div>
