<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Managers",
    entity: :managers,
    placeholder_text: "Search managers by section or name" } %>

<%= render partial: 'top_pager' %>

<section class="manager-panels">
  <% @managers.each do |manager| %>
      <%= render manager %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
