<br>
<section class="top-pager">
  <div class="d-flex justify-content-between">
    <%= will_paginate @sections, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    <%= link_to 'New Section', new_section_path, class: "btn", method: :get %>
  </div>
</section>
<br>
