<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Sections",
    entity: :sections,
    placeholder_text: "Search sections" } %>

<%= render partial: 'top_pager' %>

<section class="section-panels">
  <% @sections.each do |section| %>
      <%= render section %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
