<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Sections",
    entity: :sections,
    placeholder_text: "Search sections" } %>

<%= render partial: 'top_pager' %>

<section class="section-panels">
  <%= render partial: 'section', collection: @sections %>
</section>

<%= render partial: 'bottom_pager' %>
