<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Customers",
    entity: :customers,
    placeholder_text: "Search by name, email or phone" } %>

<%= render partial: 'top_pager' %>

<section class="customer-panels">
  <% @customers.each do |customer| %>
      <%= render customer %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
