<tr>
  <td><%= quotation.code %></td>
  <td><%= link_to 'Show', quotation %></td>
  <td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>
  <td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
