<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Quotations",
    entity: :quotations,
    placeholder_text: "Search by quotation code" } %>

<%= render partial: 'top_pager' %>

<section class="quotation-panels">
  <% @quotations.each do |quotation| %>
      <%= render quotation %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
