<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Job Targets",
    entity: :job_targets,
    placeholder_text: "Search Job Targets" } %>

<%= render partial: 'top_pager' %>

<section class="job-target-panels">
  <% @job_targets.each do |job_target| %>
      <%= render job_target %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
