<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @manager.employee %>
</p>

<p>
  <strong>Section:</strong>
  <%= @manager.section %>
</p>

<%= link_to 'Back', managers_path %>
