<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Labor Records",
    entity: :labor_records,
    placeholder_text: "Search labor records" } %>

<%= render partial: 'top_pager' %>

<section class="labor-record-panels">
  <% @labor_records.each do |labor_record| %>
      <%= render labor_record %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
