<%= render partial: "shared/subpage_header",
  locals: {
    header_text: "Suppliers",
    entity: :suppliers,
    placeholder_text: "Search by name, email or phone" } %>

<%= render partial: 'top_pager' %>

<section class="supplier-panels">
  <% @suppliers.each do |supplier| %>
      <%= render supplier %>
  <% end %>
</section>

<%= render partial: 'bottom_pager' %>
